.product-detail-container {
    display: flex;
    font-family: "Guardian-EgypTT";
    flex-flow: row;
    width:68vw;
    /* border: 1px solid black; */
}

.product-detail-left {
    display: flex;
    flex-flow: column;
    margin: 2em;
    border: 1px solid black;
}

.product-image-container {
    display: flex;
    flex-flow: column;
    width: 33.0729167vw;
    border: 1px solid black;
    border-radius: 5px;
    height:33.0729167vw;
}

.product-image-container > img {
    object-fit: cover;
}

.product-detail-name {
    font-weight: 300;
    font-size: 24px;
}
