.product-detail-container {
    display: flex;
    font-family: "Guardian-EgypTT";
    flex-flow: row;
    width:80vw;
    /* max-width: 966px; */
    /* border: 1px solid black; */
}

.product-detail-left {
    display: flex;
    flex-flow: column;
    margin: 2em;
    border: 1px solid black;
    width: 60%;
}

.product-image-container {
    /* display: flex; */
    /* flex-flow: column; */
    border: 1px solid black;
    border-radius: 5px;
    width: auto;
    height:33.0729167vw;
}

.product-image {
    object-fit: cover;
    border-radius: 6px;
    width: 100%;
    height:33.0729167vw;
}

.product-detail-name {
    font-weight: 300;
    font-size: 24px;
}
