.nav-container {
  position: relative;
  top: 0;
  width: 1400px;
  max-width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.navlink {
  text-decoration: none;
  color: black;
  font-size: smaller;
}

.navlink.logo{
  margin-left: -3em;
}

.navlink.sign-in {
  text-align: center;
  padding-top: .7em;
  padding-bottom: .7em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-radius: 3em;
  transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), background 200ms ease-out,box-shadow 200ms ease-out;
}

.navlink.sign-in:hover {
  background-color: #EFEFEF;
}

.right-nav-container {
  display: flex;
  align-items: center;
  max-width: 20%;
}

.cart-icon {
  width: 2em;
  margin-bottom: -.5em;
  transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), background 200ms ease-out,box-shadow 200ms ease-out;
}

.cart-icon:hover {
  background-color: #EFEFEF;
}

.cart-icon-container {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 3em;
  transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), background 200ms ease-out,box-shadow 200ms ease-out;
}

.cart-icon-container:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

div.user-icon-wrapper {
  display: flex;
  align-items: center;
  min-width: 3em;
  max-height: 3em;
  padding: .6em;
  border-radius: 3em;
  transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), background 200ms ease-out,box-shadow 200ms ease-out;
}

div.user-icon-wrapper:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

img.user-icon {
  max-width: 1.5em;
  max-height: 1.5em;
}

img.down-icon {
  max-width: 1.5em;
  max-height: 1.5em;
}

.drop-down-menu-container {
  position: absolute;
  right: 9vw;
  top: 7vh;
  min-width: 15em;
  min-height: 4em;
  background-color: #FFFFFF;
  box-shadow: 0 0 7px rgb(195, 195, 195);
  border-radius: .7em;
  z-index: 2;
}

.drop-down-item:hover {
  background-color: #dbdbdb;
}

.create-product.drop-down-item {
  border-radius: .7em;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.dropdown.text {
  margin-left: .7em;
  font-weight: 300;
  font-size: medium;
}

.new-product-icon {
  max-width: 11%;
  margin: .6em;
  margin-left: .8em;
  margin-bottom: .5em;
}

.create-product.drop-down-item:hover {
  background-color: #dbdbdb;
}

.drop-down-item-container.user {
  border-radius: .7em;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: .7em .7em 0px 0px;
  border-bottom: 1px solid rgb(203, 202, 202);
}

.user-icon-drop-down{
  max-width: 1.5em;
  max-height: 1.5em;
  margin-top: .5em;
  margin-left: .7em;
  margin-bottom: .5em;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  border-bottom: 1px solid #E2E2E2;
}
