/* TODO Add site wide styles */
html {
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
}

body {
    margin: 0%;
}

.content.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    width: 100vw;
    padding: 0;
}

/* nav.nav-container {
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
} */

/* nav.nav-container ul {
    display: flex;
    justify-content: space-between;
    size: 13px;
    list-style-type: none;
} */
