#modal-content>div.filter-slide-bar {
    position: fixed;
    left: 0;
    top: 0;
    /* transform: translate3d(-20vw,0,0); */
    padding-left: 2rem;
    width: 25vw;
    height: 100vh;
    background-color: #ffffff;
    color: #222;
    display: flex;
    flex-direction: column;
}

#modal-content>div.filter-slide-bar>h1.filter-title {
    font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
    font-weight: 300;
    font-size: 1.8rem;
}

#modal-content>div.filter-slide-bar>fieldset.filter-price-field {
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-size: 0.8rem;
    line-height: 1.1rem;
    border: none;
}

#modal-content>div.filter-slide-bar>fieldset.filter-price-field>span.filter-price-field-title {
    font-weight: 700;
    padding-left: 0.4rem;
}

#modal-content>div>fieldset>div.filter-price-radio>input[type=radio] {
    accent-color: white;
    background-color: black;
    height: 1rem;
    width: 1rem;
    display: inline;
    vertical-align: middle;
    cursor:pointer;
}

#modal-content>div>fieldset>div.filter-price-radio>span {
    line-height: 1.4rem;
    vertical-align: middle;
}

/*
#modal-content > div > fieldset > div.filter-price-radio {
     display: flex;
}
*/
#modal-content>div>fieldset>div.filter-price-custom-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: -0.2rem;
    margin-left: 1rem;
    align-items: center;
}

#modal-content>div>fieldset>div.filter-price-custom-container>input.filter-price-input {
    width: 5rem;
    height: 1.5rem;
    padding-left: 0.5rem;
}

#modal-content>div>div.filter-button-container {
    display: flex;
    margin-top: 100%;
    justify-content: space-around;
}

#modal-content>div>div.filter-button-container>button {
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -2rem;
    width: 48%;
    height: 3rem;
    cursor:pointer;
}

#modal-content>div>div.filter-button-container>button.filter-clear-button {
    background-color: #ffffff;
    color: #222;
}

#modal-content>div>div.filter-button-container>button.filter-apply-button {
    background-color: #222;
    color: #ffffff;
}

#root>div.content.container>div.search-container>div.search-products-container>div>div.card-container {
    width: 20rem;
    height: 24.5rem;
}

#root>div.content.container>div.search-container>div.search-products-container>div {
    color: #222;
    text-decoration: none;
}


#root>div.content.container>div.search-container>div.search-products-container>div>div>div.product.image-container {
    width: 100%;
    height: 70%;
}

#root>div.content.container>div.search-container>div.search-products-container>div>div>div.product.image-container>img {
    width: 100%;
    height: 100%;
}

#root>div.content.container>div.search-container>div.search-products-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    position: relative;
    /* margin-left:1.5rem; */
}

#root>div.content.container>div.search-container>div.search-products-container>div>div>div.product.name {
    margin-top: 0.5rem;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.4;
}

#root>div.content.container>div.search-container>div>div>div>div>img {
    height: 1.1rem;
    line-height: 1.4;
    margin-top: 0.2rem;
    object-fit: cover;
}

#root>div.content.container>div.search-container>div>div>div>div.price {
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 0.7rem;
}

#root>div.content.container>div.search-rule-container {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69%;
}

#root>div.content.container>div.search-rule-container>div.search-rule-right {
    width: 20rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
}

#root>div.content.container>div.search-rule-container>div.search-rule-right>select {
    border-radius: 1.5rem;
    width: 10rem;
    line-height: 1.5rem;
    height: 1.5rem;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-weight: 400;
    padding-left: 1rem;
    margin-left: 1rem;
    border: 0.1rem solid #222
}

#root>div.content.container>div.search-rule-container>div.search-rule-right>p {
    font-size: 0.8rem;
    color: #666;
}

#root>div.content.container>div.search-rule-container>div.search-rule-left {
    display: flex;
    align-items: center;
}

#root>div.content.container>div.search-rule-container>div.search-rule-left>button {
    border-radius: 1.5rem;
    width: 7rem;
    line-height: 1.5rem;
    height: 1.7rem;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-weight: 700;
    background-color: #fff;
}

#root>div.content.container>div.search-container>div>h1 {
    font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 3rem;
}

#root>div.content.container>div.search-container>div.empty-search-container {
    overflow: hidden;
    /* background-color: #fdebd2; */
    background: linear-gradient(#fdebd2, #ffffff);
    width: 100%;
    padding-left: 1rem;
    margin-top: 1rem;
}

#root>div.content.container>div.search-container>div>p {
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
}

#root>div.content.container>div.search-container {
    width: 87vw;
    margin-top: 0rem;
    display: flex;
    justify-content: center;
}

.search-sort:hover {
    cursor: pointer;
}

.search-products-filter-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
