.back-splash {
  position: absolute;
  background-color: #F8EBE6;
  width: 100vw;
  height: 9em;
  z-index: -1;
}

.products-page-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products.container {
  display: flex;
  justify-content: center;
}

div.circle-display-container.products {
  display: flex;
  justify-content: center;
}

div.circle-display-container.products > div > div > div.product.image-container > img {
  width: 7em;
  max-width: 7em;
  height: 7em;
  max-height: 7em;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgb(200, 200, 200);
  transition: all .2s ease-in-out;
}

div.circle-display-container.products > div > div > div.product.image-container > img:hover {
  transform: scale(1.1);
}

div.circle-display-container.products > div > div {
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.circle-display-container.products > div > div > div.price {
  display: none;
}







div.middle-products-display-container.products > div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.middle-products-display-container.products {
  display: flex;
  justify-content: center;
  height: 548px;
  z-index: 1;
  gap: 1em;
}

div.middle-products-display-container.products > div {
  height: 100%;
  max-height: 100%;
  width: 318px;
  max-width: 318px;
}

div.middle-products-display-container.products > div.col-4 > div:nth-child(2),
div.middle-products-display-container.products > div.col-3 > div:nth-child(1),
div.middle-products-display-container.products > div.col-2 > div:nth-child(2),
div.middle-products-display-container.products > div.col-1 > div:nth-child(1) {
  height: 12em;
  max-height: 12em;
  width: 100%;
  max-width: 100%;

}

div.middle-products-display-container.products > div.col-4 > div:nth-child(1),
div.middle-products-display-container.products > div.col-3 > div:nth-child(2),
div.middle-products-display-container.products > div.col-2 > div:nth-child(1),
div.middle-products-display-container.products > div.col-1 > div:nth-child(2) {
  height: 20em;
  max-height: 20em;
  width: 100%;
  max-width: 100%;
}

div.middle-products-display-container.products > div.col-4 > div:nth-child(2) > div,
div.middle-products-display-container.products > div.col-3 > div:nth-child(1) > div,
div.middle-products-display-container.products > div.col-2 > div:nth-child(2) > div,
div.middle-products-display-container.products > div.col-1 > div:nth-child(1) > div {
  height: 12em;
  max-height: 12em;
  width: 100%;
  max-width: 100%;
  border: 1px solid #c5c5c5;
  border-radius: .5em;
}

div.middle-products-display-container.products > div.col-4 > div > div:hover,
div.middle-products-display-container.products > div.col-3 > div > div:hover,
div.middle-products-display-container.products > div.col-2 > div > div:hover,
div.middle-products-display-container.products > div.col-1 > div > div:hover {
  box-shadow: 0 0 5px rgb(104, 107, 104);
}

div.middle-products-display-container.products > div.col-4 > div:nth-child(1) > div,
div.middle-products-display-container.products > div.col-3 > div:nth-child(2) > div,
div.middle-products-display-container.products > div.col-2 > div:nth-child(1) > div,
div.middle-products-display-container.products > div.col-1 > div:nth-child(2) > div {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  border: 1px solid #c5c5c5;
  border-radius: .5em;
}

div.middle-products-display-container.products > div.col-4 > div:nth-child(2) > div > div.product.image-container,
div.middle-products-display-container.products > div.col-3 > div:nth-child(1) > div > div.product.image-container,
div.middle-products-display-container.products > div.col-2 > div:nth-child(2) > div > div.product.image-container,
div.middle-products-display-container.products > div.col-1 > div:nth-child(1) > div > div.product.image-container {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

div.middle-products-display-container.products > div.col-4 > div:nth-child(1) > div > div.product.image-container,
div.middle-products-display-container.products > div.col-3 > div:nth-child(2) > div > div.product.image-container,
div.middle-products-display-container.products > div.col-2 > div:nth-child(1) > div > div.product.image-container,
div.middle-products-display-container.products > div.col-1 > div:nth-child(2) > div > div.product.image-container {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

div.middle-products-display-container.products > div.col-4 > div:nth-child(2) > div > div.product.image-container > img,
div.middle-products-display-container.products > div.col-3 > div:nth-child(1) > div > div.product.image-container > img,
div.middle-products-display-container.products > div.col-2 > div:nth-child(2) > div > div.product.image-container > img,
div.middle-products-display-container.products > div.col-1 > div:nth-child(1) > div > div.product.image-container > img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: .5em;
}

div.middle-products-display-container.products > div.col-4 > div:nth-child(1) > div > div.product.image-container > img,
div.middle-products-display-container.products > div.col-3 > div:nth-child(2) > div > div.product.image-container > img,
div.middle-products-display-container.products > div.col-2 > div:nth-child(1) > div > div.product.image-container > img,
div.middle-products-display-container.products > div.col-1 > div:nth-child(2) > div > div.product.image-container > img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: .5em;
}


div.middle-products-display-container.products > div > div > div > div.product.name {
  display: none;
}


div.middle-products-display-container.products > div > div > div > div.star-container > * {
  display: none;
}

div.middle-products-display-container.products > div > div > div > div.price {
  position: relative;
  bottom: 3.3em;
  left: 1em;
  background-color: #E4E4E4;
  border-radius: 3em;
  width: fit-content;
  padding: .5em 1em;
}








.remainder-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;
  gap: 1em;
}


div.remainder-products-container > div {
  height: 12em;
  max-height: 12em;
  width: 16em;
  max-width: 16em;
}

div.remainder-products-container > div > div {
  height: 12em;
  max-height: 12em;
  width: 100%;
  max-width: 100%;
  border: 1px solid #c5c5c5;
  border-radius: .5em;
}

div.remainder-products-container > div > div:hover {
  box-shadow: 0 0 5px rgb(104, 107, 104);
}

div.remainder-products-container > div > div > div.product.image-container {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}


div.remainder-products-container > div > div > div.product.image-container > img {
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: .5em;
}

div.remainder-products-container > div > div > div.product.name {
  display: none;
}


div.remainder-products-container > div > div > div.star-container > * {
  display: none;
}

div.remainder-products-container > div > div > div.price {
  position: relative;
  bottom: 3.3em;
  left: 1em;
  background-color: #E4E4E4;
  border-radius: 3em;
  width: fit-content;
  padding: .5em 1em;
}

.more-products-text {
  font-weight: 400;
  display: block;
  width: 100%;
  letter-spacing: 0.5px;
  line-height: 28px;
  padding-left: 5.4em;
  font-size: x-large;
  margin-bottom: 0;
}
