.input.search-bar {
  min-width: 95%;
  height: 2.4em;
  border-radius: 4em;
  border: .1em solid black;
  text-align: left;
  padding-left: 1rem;
  margin-left: 1em;
  margin-right: 1em;
  font-size: large;
  background-color: #F4F4F4;
}

.input.search-bar::placeholder {
  font-size: large;
  vertical-align: center;
  font-weight: lighter;
}

.search-bar-container {
  width: 100%;
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar-container {
  display: flex;
  min-width: 100%;
  align-items: center;
  position: relative;
  /* margin-bottom: 1em; */
}

.input.search-submit {
  width: 1.7em;
}

.magnifying-glass-icon {
  width: 1.2em;
  height: 1.2em;
  pointer-events: none;
}

.magnifying-container {
  height: 2.4em;
  position: absolute;
  right: 1em;
  min-width: 3.5em;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), background 200ms ease-out,box-shadow 200ms ease-out;
  pointer-events: auto;
}

.magnifying-container:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.search-errors-container {
  position: relative;
  margin-top: 0;
  top: .8em;
  box-sizing: border-box;
}

.search-errors-text {
  color: red;
  font-size: 1.1rem;
  position: absolute;
  top: 3.6em;
}
