@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bitter:wght@100;200;400&family=Comfortaa:wght@300&display=swap');

form.editreview-form {
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    padding: 5%;
    display: block;
    justify-content: space-between;
    border-radius: 5px;
}

input.editreview-reviewbody {
    max-height: 500px;
    min-height: 200px;
    max-width: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: grey;
    scrollbar-width: thin;
    border-radius: 5px;
    background: rgb(249, 250, 250);
    border-radius: 10px;
    border: 1px solid rgb(181, 189, 196);
    font-size: 20px;
    font-family: 'Bitter', serif;
    height: 40px;
    /* line-height: 24px; */
    color: rgb(8, 9, 10);
}


input.editreview-reviewbody:focus {
    background-color: #fff;
    border-color: #3b49df;
    box-shadow: 1px 1px 0 #3b49df;
    overflow-y: scroll;
}
