@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bitter:wght@100;200;400&family=Comfortaa:wght@300&family=DM+Serif+Display&display=swap');

form.editreview-form {
    /* background-color: rgb(240, 240, 240); */
    min-width: 800px;
    max-width: 800px;
    max-height: 800px;
    min-height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 30px;
    display: block;
    justify-content: space-between;
    border-radius: 30px;
    font-size: 28px;
    color: #56504C;
    font-family: 'DM Serif Display', serif;
}

textarea.editreview-reviewbody {
    max-height: 400px;
    min-height: 200px;
    max-width: 80%;
    min-width: 90%;
    padding: 5px 30px;
    font-size: 22px;
    font-family: 'Bitter', serif;
    border-radius: 20px;
    background: rgb(249, 250, 250);
    border-radius: 10px;
    border: 1px solid rgb(181, 189, 196);
    height: 30px;
    overflow-y: scroll;
    scrollbar-color: grey;
    scrollbar-width: thin;
    color: rgb(8, 9, 10);
    word-break: break-word;
    resize: vertical;
}


input.editreview-reviewbody:focus {
    background-color: #fff;
    border-color: #3b49df;
    box-shadow: 1px 1px 0 #3b49df;
    overflow-y: scroll;
}

button.editreview-button {
    display: inline-block;
    outline: 0;
    border: 0;
    font-family: 'Bitter', serif;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 40px;
    margin: 2px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 20px;
    color: #36395a;
    transition: box-shadow 0.15s ease;
    transform: 0.15s ease;

}


button.editreview-button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

button.editreview-button:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

button.editreview-button:disabled {
    box-shadow: 0px 4px 8px rgb(0 0 0 / 40%);
    color: #534C45;
    background-color: grey;
}

div.updatereview-error {
    margin-top: .8em;
    margin-bottom: .8em;
    font-size: .8em;
    color: #A05102;
}

.editreview-name {
    max-height: 200px;
    max-width: 80%;
    margin-top: 20px;
    color: black;
}

.editreview-reviewbody {
    max-height: 800px;
    max-width: 800px;
    font-size: 20px;
    padding: 5px;
}

.dropdown-myreviews {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #270070;
    background-color: aliceblue;
    border-style: none;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 1em;
    margin: 10px 0;
}

.dropdown-title {
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0px;
}


/* --- star rating --- */

.star-rating-container {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding: 5px 30px;
}



.radio-label-container>label:hover:before,
.radio-label-container>label:hover~label:before {
    /* content: "\2605"; */
    content: "★";
    position: absolute;
}

.radio-label-container>label:focus:before,
.radio-label-container>input:checked+label:before {
    content: "\2605";
    position: absolute;
}

/* .radio-label-container>label:selection:after,
.radio-label-container>label:checked:before {
    content: "\2605";
    position: absolute;
} */

#r1,
#r2,
#r3,
#r4,
#r5 {
    display: none;
}

.rating-label,
.rating-label-all {
    cursor: pointer;
    transition: color 200ms;
    size: 200px;
    opacity: 1;
}

.rating-label-all {
    position: absolute;
}
